* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background-color: #148F77;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding:15px 0;
    color: #148F77;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #148F77;
    color: #fff;
}
.active {
    background-color: #148F77;
    color: #fff;
}
.banner {
    height: 60vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 143,119, .6);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
selection {
    padding:50px 0;
}
selection h3 {
    text-align: center;
    padding: 20px 0;
    color: 148F77;
    margin-bottom: 20px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
selection h4 {
    text-align: center;
    padding: 20px 0;
    color: 148F77;
    margin-bottom: 20px;
}
.profile p {
    color: #fff;
    word-spacing: 2px;
    line-height: 25px;
}
body {
    font-family:arial,segoe ui;   
}

.wrap {
    width:1000px;
    margin:0 auto;          
} 

.content {
    float:left;
    width:95%;
    background:#148F77;
    padding:2%; 
    min-height:400px;
}          

.clear {clear:both}

.footer {
    width:auto;
    height:auto;
    padding:5px 10px;
    background:#fff;
    color:#fff;

}